@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active{
    color: blue;
}
.drawer-side a{
    background-color: transparent;
}
*{
    font-family: 'Lora', serif;
}

.LazyLoad {
    opacity: 0;
    transition: all 2s ease-in-out;
  }
  
  .is-visible {
    opacity: 1;
  }